footer {
  background-color: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  > :nth-child(2) {
    max-width: 1366px;
    width: 100%;
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .contact div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  * {
    color: #fff;
  }
  h2 {
    font-size: 22px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  p {
    margin-top: 0px;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    > :nth-child(2) {
      justify-content: center;
      flex-direction: column-reverse;
      .contact {
        margin-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
        div {
          justify-content: flex-start;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}
