<nav id="navbar">
  <span id="logo">João Ribeiro</span>
  <div class="links-nav">
    <ul>
      <li>
        <a href="#anchor-home">Home</a
        ><a href="#anchor-home"><img src="assets/icons/home.svg" /></a>
      </li>
      <li>
        <a href="#anchor-about-me">Sobre Min</a
        ><a href="#anchor-about-me"
          ><img src="assets/icons/information.svg"
        /></a>
      </li>
      <li>
        <a href="#anchor-skills">Skills</a
        ><a href="#anchor-skills"><img src="assets/icons/tools.svg" /></a>
      </li>
      <li>
        <a href="#anchor-projects">Projetos</a
        ><a href="#anchor-projects"><img src="assets/icons/stack.svg" /></a>
      </li>
      <li>
        <a href="#anchor-contact">Contato</a
        ><a href="#anchor-contact"><img src="assets/icons/call.svg" /></a>
      </li>
    </ul>
  </div>
</nav>
