<div id="introduction">
  <div class="description">
    <h1>Olá, Eu Sou o João</h1>
    <p>
      Sou desenvolvedor full-stack, moro em São Paulo. Tenho experiência muitas
      tecnologias que cercam o javascript e tenho formação em ADS e também tenho
      experiência profissional como freelancer, já desenvolvi algumas landing
      page para empresas. Atualmente trabalho como PJ para Acqua Reduz, atuando
      como dev full-stack em sistema legado(js, node, css, html mySQL e AWS).
      Mais recentemente comecei a estudar Java com foco no back-end(spring
      boot).
    </p>
  </div>
  <div
    class="profile-container"
    style="background-image: url('assets/images/perfil3.jpeg')"
  ></div>
</div>
