<div id="form-contact-me">
  <h2>Mandar Mensagem</h2>
  <form action="https://api.staticforms.xyz/submit" method="post">
    <input type="text" placeholder="Nome" name="name" />
    <input type="text" placeholder="Sobrenome" name="subject" />
    <input type="text" placeholder="Email" name="email" />
    <input type="text" placeholder="Telefone" name="phone" />
    <textarea
      placeholder="Sobre oque você quer falar?"
      name="message"
    ></textarea>
    <button type="submit">Enviar</button>
    <input
      type="hidden"
      name="accessKey"
      value="1b2b6c83-d4f6-4785-a289-872aca5da6f7"
    />
    <input type="hidden" name="redirectTo" value="https://www.youtube.com/" />
  </form>
</div>
