<div class="home">
  <div class="description">
    <h1>Olá, Eu Sou o João</h1>
    <p>
      Sou desenvolvedor full stack/junior, moro em São Paulo, Meu stack é focado
      no estudo das tecnologias que cercam o Javascript como React, Next.js,
      Node. Tenho formação em ads, que infelizmente não consegui concluir
      faltando duas matérias(por questões financeiras).
    </p>
  </div>
  <div
    class="profile-container"
    style="background-image: url('assets/images/perfil2.png')"
  ></div>
</div>
