#home {
  margin: 150px 30px 0px 30px;
  display: flex;
  justify-content: space-between;
  .description {
    width: 50%;
    text-align: justify;
  }
  .profile-container {
    width: 300px;
    height: 300px;
    border: solid 4px #353535;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    animation: profileAnime infinite 5s;
    animation-fill-mode: forwards;
    filter: grayscale(100%);
  }
}
h1 {
  text-align: left;
}

@keyframes profileAnime {
  0% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }
  50% {
    border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
  }
  100% {
    border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
  }
}

@media only screen and (max-width: 800px) {
  #home {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    .description {
      width: 100%;
    }
  }
}
