<div id="projects">
  <h1>Projetos</h1>
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="20"
    [scrollbar]="{ draggable: true }"
    #swiper
    style="width: calc(100vw - 10px); padding-bottom: 20px"
  >
    <ng-template swiperSlide *ngFor="let project of projects; let i = index">
      <app-project-card
        *ngIf="i === i"
        [name]="project.name"
        [description]="project.description"
        [background]="project.background"
        [technologies]="project.technologies"
        [links]="project.links"
      >
      </app-project-card>
    </ng-template>
  </swiper>
  <div class="container" style="width: 100%">
    <div class="btn-group">
      <button (click)="slidePrev()">
        <img src="assets/icons/arrow-left.svg" />
        <p>Anterior</p>
      </button>
      <button (click)="slideNext()">
        <p>Próximo</p>
        <img src="assets/icons/arrow-right.svg" />
      </button>
    </div>
  </div>
</div>
