<span id="anchor-home"></span>
<div class="container">
  <app-navbar></app-navbar>
</div>
<div class="container">
  <app-home></app-home>
</div>
<span id="anchor-about-me" class="anchor"></span>
<div class="container">
  <app-about-me></app-about-me>
</div>
<span id="anchor-skills" class="anchor"></span>
<div class="container">
  <app-skills></app-skills>
</div>
<span id="anchor-projects" class="anchor"></span>
<app-projects></app-projects>
<span id="anchor-contact" class="anchor"></span>
<app-footer></app-footer>
